<%= form_with(model: interview_note) do |form| %>
  <% if interview_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(interview_note.errors.count, "error") %> prohibited this interview_note from being saved:</h2>

      <ul>
        <% interview_note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :User %>
    <%= form.text_field :User %>
  </div>

  <div class="field">
    <%= form.label :Application %>
    <%= form.text_field :Application %>
  </div>

  <div class="field">
    <%= form.label :Contact_id %>
    <%= form.text_field :Contact_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.rich_text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
